{% extends 'base.html.twig' %}

{% block title %}Catalogue des livres{% endblock %}

{% block body %}
    <div class="mb-8 flex justify-between items-center">
        <h1 class="text-3xl font-extrabold text-gray-900">Notre Catalogue</h1>
        {% if app.request.attributes.get('_route') == 'admin_index_books' %}
            <a href="/admin/books/new" class="py-2 px-3 bg-indigo-200 rounded hover:bg-indigo-400 transition">Ajouter un Livre</a>
        {% endif %}
        <span class="bg-indigo-100 text-indigo-700 px-4 py-1 rounded-full text-sm font-medium">
            {% if app.request.attributes.get('_route') != 'admin_index_books' %}
            {{ books|filter(b => b.enabled == true)|length }} ouvrages disponibles
            {% else %}
            {{ books|filter(b => b.enabled == true)|length }} ouvrages disponibles <br>
            {{ books|filter(b => b.enabled == false)|length }} ouvrages indisponibles
            {% endif %}
        </span>
    </div>
    {{ include('main/filtre.html.twig') }}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% if app.request.attributes.get('_route') != 'admin_index_books' %}
            {% for book in books %}
                {% if book.enabled == true %}
                    {{ include('main/showcata.html.twig') }}
                {% endif %}
            {% endfor %}
        {% else %}

            {% for book in books %}
                {{ include('main/showcata.html.twig') }}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
